

<body>


<h1 align="center"><span style="color:red;font-family:Verdana;">GA</span> to Microbreweries on <span style="color:light gray;">LA Metro</span></h1>
<br>
<h1>Please Sign in!</h1>

<div class="container">
	


<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 border">

				<%= form_for :session, :url => sessions_path do |f| %>

					<h2>Email: <%= f.text_field :email, class: "form-control" %></h2>
					<h2>Password: <%= f.password_field :password, class: "form-control" %></h2>
					<%= f.submit "Members: Log in", class: "btn btn-default" %>
				<% end %>
			<%= link_to "Sign up to see the Microbreweries!", new_user_path, class: "btn btn-default" %>
			</div>
			<div class="col-md-4"></div>
</div>
</div>

</body>