<%= form_for @microbrewery do |m| %>

<h2>Name: <%= f.text_field :name %></h2>
<h2>Zip: <%= f.text_field :zip %></h2>
<h2>Zip: <%= f.text_field :zip %></h2>
<h2>Zip: <%= f.text_field :zip %></h2>
<h2>Zip: <%= f.text_field :zip %></h2>
<h2>Zip: <%= f.text_field :zip %></h2>
<h2>Zip: <%= f.text_field :zip %></h2>

<%= f.submit "Save this microbrewery!", class: "btn" %>

<% end %>