<%= form_for @microbrewery do |f| %>

        <h2>Name: <%= f.text_field :name %><br>
        Address: <%= f.text_field :address %><br>
        City: <%= f.text_field :city %><br>
        Zip: <%= f.text_field :zip %><br>
        Transit: <%= f.text_field :transit %><br>
        Direction: <%= f.text_field :direction %><br>
        Style: <%= f.text_field :style %><br>
        Beer1: <%= f.text_field :beer1 %><br>
        Beer2: <%= f.text_field :beer2 %><br>
        Beer3: <%= f.text_field :beer3 %><br>
        Allow generic growlers (Yes/No)? <%= f.text_field :generic_growlers %><br><br></h2>

<%= f.submit "Save" %>
<%= link_to "Back to the home page!", microbreweries_path  %>


<% end %>