<h1> Edit this Microbrewery! </h1>

    <%= form_for @microbrewery do |f| %>
        Name: <%= f.text_field :name %>
        Roast: <%= f.text_field :roast %>
        Origin: <%= f.text_field :origin %>
        Quantity: <%= f.text_field :quantity %>

        <%= f.submit "Edit beans!" %>

    <% end %>

    <%= link_to "Back to the list!", beans_path %>