

 <style>
  #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
    width: 800px; 
    height: 400px;
  }
  #panel {
      top: 5px;
      left: 50%;
      z-index: 5;
      background-color: #fff;
      opacity:0.9;
      color: black;
      padding: 5px;
      border: 1px solid #999;
    }
  #start {
      width: 500px;
  }

  #directionsPanel {
    display:inline-block;
    width:50%;
    height 100%;
    background-color:gold;
  }

  /* for 600px or less */
@media screen and (max-width: 600px) {
    #directionsPanel {
    width:90%;
  }


}

</style>
   

 <h1> <%= @microbrewery.name %> </h1>
<div class = "container">
<div class = "row">
    <p style="color:gold;">This Microbrewery is a <%= @microbrewery.style %> style from <%= @microbrewery.city %>, and we can take <%= @microbrewery.transit %> to get there.</p>
    <h3>If you're going the best transit is:</h3>
    <h4><%= @microbrewery.transit %> !!!<br>
    	Address: <%= @microbrewery.address %><br>
        City: <%= @microbrewery.city %><br>
        Zip: <%= @microbrewery.zip %><br><br>
       
        Direction: <%= @microbrewery.direction %><br>
        Style: <%= @microbrewery.style %><br>
        Beer1: <%= @microbrewery.beer1 %><br>
        Beer2: <%= @microbrewery.beer2 %><br>
        Beer3: <%= @microbrewery.beer3 %><br>
        Do they allow Generic Growlers?: <%= @microbrewery.generic_growlers %></h4><br>

    <h4><%= link_to "Back to the list of microbreweries!", microbreweries_path %>
     <br><%= link_to "Edit", edit_microbrewery_path %>
     <%= link_to "", @microbrewery, {method: :delete, data: {confirm: 'Are you sure you want to delete it?' }, class: "glyphicon glyphicon-trash"} %></h4>


    </div>
</div>
<hr>

 <div class="container">
  
   <br><h2>Map to this brewery</h2>
   <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<div>
   <div id="panel">
      <input id="start" type="textbox" value="1520 2nd Street, Santa Monica, 90401">
      <input type="button" value="Starting Address" onclick="calcRoute()">
    </div>

  <div id="map-canvas"></div>
</div>

<!-- 
  <script type="text/javascript">
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
  var origin      = new google.maps.LatLng('1520 2nd Street, Santa Monica, 90401');
  var destination = new google.maps.LatLng(' <%= @microbrewery.address %>, <%= @microbrewery.zip %>');
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.TRANSIT
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
  directionsDisplay.setMap(handler.getMap());
});
    

   </script>

 -->
   <script>

var rendererOptions = {
  draggable: true
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
var directionsService = new google.maps.DirectionsService();
var map;

var australia = new google.maps.LatLng(34.012836, -118.495338);

function initialize() {

  var mapOptions = {
    zoom: 7,
    center: australia
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directionsPanel'));

  google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });

  calcRoute();
}

function calcRoute() {

  var request = {
    origin: document.getElementById('start').value,
    destination: ' <%= @microbrewery.address %>, <%= @microbrewery.zip %>',

    travelMode: google.maps.TravelMode.TRANSIT
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

function computeTotalDistance(result) {
  var total = 0;
  var myroute = result.routes[0];
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }

}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <table>
      <tr>
        <td id="map">
    <div  style="display:inline;float:left;width:10%; height:100%">
    </div>
        </td>
        <td>

    <div id="directionsPanel">
        </td>
      </tr>
    </table>
    
    </div>
 </div>
