<!DOCTYPE html>
<html>
<head>
  <title>Metrobreweries</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %> 

        <% else %>
          <li style="color:lime;"> Hello, </font><%= current_user.name %></li>
       
          <li><%= link_to "Sign Out", session_path(:id), :method => :delete %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>


</div>
</body>
</html>
